:root{
  --base:#ffc600;
  --spacing:100px;
  --blur:0px;
}
img{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
.h2{
  color: var(--base);
}

body{
  align-items: center;
}
body{
  background-color: rgba(6, 113, 117, 0.811);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 50px;
}
.controls{
  margin-bottom: 50px;
}
a{
  color= var(--base);
  text-decoration: none;
}
input{
  width: 100px;
}